---
import Layout from "@layouts/MainLayout.astro";
import { swell } from "../../lib/swell.ts";

const { slug } = Astro.params;

const product = await swell.products.get(slug === undefined ? "" : slug);

const categories = await swell.categories.list({
  limit: 100,
  page: 1,
});

if (!product) return Astro.redirect("/404");

const { name, description } = product;
---

<Layout
  title={`${name} delivered farm fresh to you`}
  description={description}
  categories={categories.results}
>
  <h1 class="text-5xl text-gray-800 p-4">
    Product name: <span class="text-blue-500">{product.name}</span>
  </h1>
</Layout>
