---
import initSwell from "../../lib/swell.ts";

const runtime = Astro.locals.runtime;
const swell = initSwell(
  runtime ? runtime.env.SWELL_STORE_ID : import.meta.env.SWELL_STORE_ID,
  runtime ? runtime.env.SWELL_PUBLIC_KEY : import.meta.env.SWELL_PUBLIC_KEY,
);
const { slug } = Astro.params;

 const product = await swell.products.get(slug === undefined ? '' : slug);
---

<h1 class="text-5xl text-gray-800 p-4">Product name: <span class="text-blue-500">{product.name}</span></h1>