---
import swell from "../../lib/swell.ts";
export const prerender = true;

export async function getStaticPaths() {
  const result = await swell.get("/products", {
    where: { active: true },
    fields: "name,slug",
    limit: 1000,
    page: 1,
  });

  return result.results.map((product: any) => ({
    params: { slug: product.slug },
    props: { name: product.name },
  }));
}

const { slug } = Astro.params;
const { name } = Astro.props;
---

{/*This is an example of a product page being statically renndered */}
<div>Slug: {slug}</div>
<div>Name: {name}</div>
