---
import Layout from "@layouts/Layout.astro";
import { swell } from "../../lib/swell";

const { slug } = Astro.params;

const product = await swell.products.get(slug === undefined ? "" : slug);
---

<Layout title={`${product.name}`}>
  <h1 class="text-5xl text-gray-800 p-4">
    Product name: <span class="text-blue-500">{product.name}</span>
  </h1>
</Layout>
