---
import { BillingAddressCard } from "src/components/solid/BillingAddressCard";
import { BillingInfoCard } from "src/components/solid/BillingInfoCard";
import { SubscriptionCard } from "src/components/solid/SubscriptionCard";
import Layout from "src/layouts/Layout.astro";
import { stytch } from "src/lib/stytch";
import { swell } from "src/lib/swell";

// Redirect unauthenticated users away from account page to join page
const sessionToken = Astro.cookies.get("gp_session_token")?.value as string;
const session = sessionToken
  ? await stytch.sessions.authenticate({
      session_token: sessionToken,
    })
  : null;

if (!session) return Astro.redirect("/join");

// Redirect if account isn't created yet or billing info is already set
const email = session?.user.emails[0]?.email as string;
const account = await swell.get(`/accounts/${email}`);

if (!account) {
  return Astro.redirect("/join/personal-info");
} else if (
  !account?.billing?.card ||
  Object.keys(account.billing.card).length === 0
) {
  return Astro.redirect("/join/payment-info");
}
---

<Layout title="Account">
  <div>
    <h1 class="text-2xl">Account Info</h1>
    <BillingInfoCard client:load />
    <BillingAddressCard client:load />
    <SubscriptionCard client:load />
  </div>
</Layout>
