---
import { SubscriptionManagementCard } from "src/components/solid/SubscriptionManagementCard";
import Layout from "src/layouts/Layout.astro";
import { isLoggedIn } from "src/lib/stytch";

// Redirect unauthenticated users away from account page
const sessionToken = Astro.cookies.get("gp_session_token")?.value;
const isUserLoggedIn = sessionToken && !!(await isLoggedIn(sessionToken));

if (!isUserLoggedIn) {
  return Astro.redirect("/join");
}
---

<Layout title="Account">
  <div>
    <h1>Account Info</h1>
    <SubscriptionManagementCard client:load />
  </div>
</Layout>
