---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Goodpluck">
  <div
    class="max-w-md mx-auto p-4 pt-6 pb-8 bg-white rounded shadow-md flex-col"
  >
    <h2 class="text-lg font-bold mb-4">Website Credits</h2>
    <h3>Icons</h3>
    <p class="text-gray-600 leading-relaxed py-4">
      Ok by Luiz Carvalho from <a
        href="https://thenounproject.com/browse/icons/term/ok/"
        target="_blank"
        title="Ok Icons">Noun Project</a
      > (CC BY 3.0)
    </p>
  </div>
</Layout>
