---
import Layout from "../layouts/Layout.astro";

const encodedMessage = Astro.url.searchParams.get("message")! || "";
const message = decodeURIComponent(encodedMessage);
---

<Layout>
  <h1>Homepage</h1>
  <p>{message}</p>
</Layout>
