---
import ToastNotification from "../components/solid/ToastNotification";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Homepage</h1>
  <ToastNotification client:idle />
</Layout>
