---
import Layout from "../layouts/Layout.astro";

const encoded_message = Astro.url.searchParams.get("message")! || "";
const message = decodeURIComponent(encoded_message);
---

<Layout>
  <p>{message}</p>
</Layout>
