---
import { StytchError } from "stytch";
import { getStytchClient, isLoggedIn } from "../lib/stytch";
import Layout from "../layouts/Layout.astro";
import jwt from "jsonwebtoken";

// Initialize error state
const errors = { email: "", general: "" };
const runtime = Astro.locals.runtime;

// Handle POST request
if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const email = data.get("email")?.toString();

  // Validate email
  if (typeof email !== "string") {
    errors.email = "Email is not valid.";
    return; // Stop execution if the email is invalid
  }

  try {
    const stytchclient = getStytchClient(runtime);
    const resp = await stytchclient.otps.email.send({
      email,
      expiration_minutes: 10,
    });
    return Astro.redirect("/login-code?method_id=" + resp.email_id);
  } catch (err) {
    console.error(err);
    if (err instanceof StytchError && err.error_type === "email_not_found") {
      errors.email = "Email not found. Do you need to create an account?";
    } else if (err instanceof Error) {
      errors.general =
        "A network error or unexpected issue occurred, please try again later.";
    } else {
      errors.general = `Unexpected error occurred, please try again later.`;
    }
  }
}

// Redirect authenticated users away from login page
const sessionToken = Astro.cookies.get("gp_session_token")?.value;
if (sessionToken && (await isLoggedIn(sessionToken, runtime))) {
  return Astro.redirect("/?message=errorAlreadyLoggedIn");
}

---

<Layout>
  <div class="flex items-center justify-center h-screen bg-gray-100">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-sm">
      <h2 class="text-2xl font-bold text-gray-900 mb-6 text-center">Log in</h2>
      <p class="text-gray-600 mb-6 text-center">
        Welcome back! Enter your email to log in.
      </p>
      <form method="POST">
        {
          errors.general && (
            <p class="mb-4 text-sm font-medium text-red-600 bg-red-50 p-2 rounded border border-red-500">
              {errors.general}
            </p>
          )
        }
        <label
          for="email"
          class={`block text-sm font-medium mb-2 ${
            errors.email ? "text-red-700" : "text-gray-700"
          }`}
        >
          Email:
        </label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="kale@example.com"
          required
          class={`border rounded-md p-2 w-full mb-4 ${
            errors.email
              ? "bg-red-50 border-red-500 placeholder-red-700 focus:ring-red-500 focus:border-red-500 !mb-0"
              : ""
          }`}
        />
        {
          errors.email && (
            <p class="my-2 text-sm font-medium text-red-600">
              Oops! {errors.email}
            </p>
          )
        }
        <button
          data-testid="login-btn"
          class="bg-blue-500 text-white rounded-md p-2 w-full mb-2 hover:bg-blue-600"
          >Continue</button
        >
      </form>
      <p class="mt-6 text-sm text-center text-gray-600">
        Haven't joined yet? <a href="#" class="text-orange-500 hover:underline"
          >Create an account</a
        >
      </p>
    </div>
  </div>
</Layout>
