---
import { StytchError } from "stytch";
import Banner from "../components/solid/Banner.tsx";
import Cart from "../components/solid/Cart.tsx";
import Menu from "../components/solid/Menu";
import MobileNav from "../components/solid/MobileNav.tsx";
import { getStytchClient } from "../lib/stytch";

// Initialize error state
const errors = { email: "", general: "" };
const runtime = Astro.locals.runtime;
const { STYTCH_PROJECT_ID, STYTCH_PROJECT_SECRET } =
  runtime?.env || import.meta.env;

// Handle POST request
if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const email = data.get("email")?.toString();

  // Validate email
  if (typeof email !== "string") {
    errors.email = "Email is not valid.";
    return; // Stop execution if the email is invalid
  }

  try {
    const stytchclient = getStytchClient(
      STYTCH_PROJECT_ID,
      STYTCH_PROJECT_SECRET,
    );
    const resp = await stytchclient.otps.email.send({
      email,
      expiration_minutes: 10,
    });
    return Astro.redirect("/login-code?method_id=" + resp.email_id);
  } catch (err) {
    console.error(err);
    if (err instanceof StytchError && err.error_type === "email_not_found") {
      errors.email = "Email not found. Do you need to create an account?";
    } else if (err instanceof Error) {
      errors.general =
        "A network error or unexpected issue occurred, please try again later.";
    } else {
      errors.general = `Unexpected error occurred, please try again later.`;
    }
  }
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Goodpluck</title>
  </head>
  <body>
    <div class="sticky top-0 h-full">
      <Banner client:load />
      <MobileNav client:load />
    </div>
    <Cart client:load />
    <Menu client:load />
  </body>
  <div class="flex items-center justify-center h-screen bg-gray-100">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-sm">
      <h2 class="text-2xl font-bold text-gray-900 mb-6 text-center">Log in</h2>
      <form method="POST">
        <label for="email" class="block text-sm font-medium text-gray-700 mb-2"
          >Email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          placeholder="kale@example.com"
          required
          class="border rounded-md p-2 w-full mb-4"
        />
        {errors.email && <p data-testid="login-error">{errors.email}</p>}
        <button
          data-testid="login-btn"
          class="bg-blue-500 text-white rounded-md p-2 w-full mb-2 hover:bg-blue-600"
          >Continue</button
        >
      </form>
      <p class="mt-6 text-sm text-center text-gray-600">
        Haven't joined yet? <a href="#" class="text-orange-500 hover:underline"
          >Create an account</a
        >
      </p>
    </div>
  </div>
</html>
