---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Goodpluck">
  <h2 class="text-lg font-bold mb-4">Return Policy</h2>
  <p class="text-gray-600 leading-relaxed py-4">
    If your basket doesn't meet your expectations, please reach out to us within
    24 hours of delivery.
  </p>
  <p class="text-gray-600 leading-relaxed py-4">
    We can't accept returns of perishable food items, but we'll do our best to
    make it right with a replacement, store credit, or refund.
  </p>
  <p class="text-gray-600 leading-relaxed py-4">
    Contact us at <a
      href="help@goodpluck.com"
      class="text-blue-600 hover:text-blue-800">help@goodpluck.com</a
    > to discuss your options.
  </p>
</Layout>
