---
import Banner from "../components/solid/Banner.tsx";
import Cart from "../components/solid/Cart.tsx";
import Menu from "../components/solid/Menu.tsx";
import MobileNav from "../components/solid/MobileNav.tsx";
import { stytch } from "../lib/stytch.ts";

let loggedin = null;
const session_token = Astro.cookies.get("gp_session_token")?.value;
try {
  const resp = await stytch.sessions.authenticate({
    session_token,
  });
  if (resp.status_code === 200) {
    loggedin = true;
  }
} catch (err) {
  loggedin = false;
  console.log("err", err);
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Goodpluck</title>
  </head>
  <body>

  </body>
</html>
