---
import Layout from "../layouts/Layout.astro";

const url = new URL(Astro.request.url);
const zipcode = url.searchParams.get("zipcode");
const email = url.searchParams.get("email");

if (Astro.request.method === "POST") {
  return Astro.redirect(
    `https://airtable.com/appJVu70KyaMMofIb/shrs9WED21nlCwrrc?prefill_email=${email}&prefill_zip=${zipcode}`,
  );
}
---

<Layout>
  <div class="flex items-center justify-center h-screen bg-gray-100">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-sm">
      <h2 class="text-2xl font-bold text-gray-900 mb-6 text-center">
        Unfortunately, we don't deliver to {zipcode} yet!
      </h2>
      <p class="mb-6 text-gray-600">
        Add your email to our waitlist to be notified when Goodpluck is
        available in your community.
      </p>
      <form method="POST">
        <button
          id="join-waitlist-btn"
          class="bg-blue-500 text-white rounded-md p-2 w-full mb-2 hover:bg-blue-600"
          type="submit"
        >
          Join Waitlist
        </button>
      </form>
    </div>
  </div>
</Layout>
