---
import AuthLayout from "../layouts/AuthLayout.astro";

const url = new URL(Astro.request.url);
const zipcode = url.searchParams.get("zipcode");
//@ts-expect-error https://github.com/withastro/language-tools/issues/476
const email = url.searchParams.get("email");

if (Astro.request.method === "POST") {
  return Astro.redirect(
    `https://airtable.com/appJVu70KyaMMofIb/shrs9WED21nlCwrrc?prefill_email=${email}&prefill_zip=${zipcode}`,
  );
}
---

<AuthLayout title="Goodpluck | Waitlist">
  <h1 class="text-3xl mt-4 mb-8 font-semibold text-gray-900 text-center">
    Unfortunately, we don't deliver to {zipcode ? zipcode : "you"} yet!
  </h1>
  <p class="text-center mb-10">
    Join our waitlist to encourage us to expand to your neighborhood!
  </p>
  <form method="POST">
    <button
      id="join-waitlist-btn"
      class="px-6 py-4 w-full bg-brand-yellow border-2 border-black text-center rounded shadow-md hover:bg-yellow-400"
      type="submit"
    >
      Join Waitlist
    </button>
  </form>
</AuthLayout>
