---
import { isLoggedIn } from "src/lib/stytch";
import AuthLayout from "../../layouts/AuthLayout.astro";
import { FirstBasketInfo } from "src/components/solid/FirstBasketInfo";

// Redirect unauthenticated users away from page
const sessionToken = Astro.cookies.get("gp_session_token")?.value;
const isUserLoggedIn = sessionToken && !!(await isLoggedIn(sessionToken));

if (!isUserLoggedIn) {
  return Astro.redirect("/join");
}
---

<AuthLayout title="Goodpluck | Your First Basket">
  <h1 class="text-3xl mt-4 mb-4 font-semibold text-gray-900 text-center">
    Your First Basket With Goodpluck!
  </h1>
  <FirstBasketInfo client:load />
</AuthLayout>
