---
import { getCartFromSession } from "@src/lib/swell/cart";
import Layout from "../../layouts/Layout.astro";

const sessionToken = Astro.cookies.get("gp_session_token")?.value;
const cart = await getCartFromSession(sessionToken as string);
const checkoutId = cart?.checkout_id;

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  console.log(data);
}
---

<Layout title="Create an Account - Payment Information">
  <div class="flex flex-col items-center">
    <section
      class="bg-white p-10 max-w-lg"
      aria-labelledby="create-account-title"
    >
      <h1
        id="create-account-title"
        class="text-3xl font-bold mb-8 text-center max-w-md mx-auto"
      >
        Create an account to place your orders!
      </h1>
      <div
        role="progressbar"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="100"
        aria-label="Account creation progress: 50% complete."
        class="w-full bg-gray-300 rounded-full h-1.5 my-8"
      >
        <div class="bg-green-700 h-1.5 rounded-full w-1/2"></div>
      </div>
      <form method="POST" id="payment-info-form">
        <fieldset aria-describedby="billing-info-desc">
          <legend class="sr-only">Payment Information</legend>
          <div id="billing-address-section" class="mb-8">
            <legend class="text-xl font-semibold mb-2">Billing Address</legend>
            <p
              id="billing-info-desc"
              class="text-lg font-semibold mb-4 sr-only"
            >
              Enter your billing information below.
            </p>
            <div id="same-address-container" class="flex mb-6">
              <input
                id="same-address-checkbox"
                class="text-green-700 focus:ring-green-800 border border-zinc-400 rounded mt-0.5 cursor-pointer"
                type="checkbox"
                checked="true"
                aria-checked="true"
                aria-describedby="same-as-delivery-desc"
              />
              <label
                for="same-address-checkbox"
                class="ml-2 text-sm text-gray-600"
              >
                Same as delivery address
              </label>
              <span id="same-as-delivery-desc" class="sr-only">
                Check this box if your billing address is the same as your
                delivery address.
              </span>
            </div>

            <div
              id="billing-container"
              class="hidden"
              aria-labelledby="billing-address-title"
            >
              <h3 id="billing-address-title" class="sr-only">
                Billing Address Details
              </h3>
              <div
                id="billing-name-container"
                class="flex flex-col md:flex-row md:gap-4"
              >
                <div id="first-name-container" class="mb-6 flex-1">
                  <label
                    for="first-name"
                    class="block text-base font-medium text-gray-700 mb-1"
                  >
                    First Name
                  </label>
                  <input
                    id="first-name"
                    name="first-name"
                    class="mb-1 text-base py-3 px-4 block w-full border border-zinc-400 rounded shadow-md focus:border-zinc-800 focus:ring-0 focus:outline-none"
                    type="text"
                    aria-describedby="first-name-desc"
                    placeholder="Kale"
                  />
                  <span id="first-name-desc" class="sr-only"
                    >Please enter your first name.</span
                  >
                </div>
                <div id="last-name-container" class="mb-6 flex-1">
                  <label
                    for="last-name"
                    class="block text-base font-medium text-gray-700 mb-1"
                  >
                    Last Name
                  </label>
                  <input
                    id="last-name"
                    name="last-name"
                    class="mb-1 text-base py-3 px-4 block w-full border border-zinc-400 rounded shadow-md focus:border-zinc-800 focus:ring-0 focus:outline-none"
                    type="text"
                    aria-describedby="last-name-desc"
                    placeholder="Greens"
                  />
                  <span id="last-name-desc" class="sr-only"
                    >Please enter your last name.</span
                  >
                </div>
              </div>
              <div id="billing-address-container">
                <div id="street-address-container" class="mb-6">
                  <label
                    for="address"
                    class="block text-base font-medium text-gray-700 mb-1"
                    >Street Address</label
                  >
                  <input
                    type="text"
                    id="address"
                    name="address"
                    autocomplete="address-line1"
                    class="mb-1 text-base py-3 px-4 block w-full border border-zinc-400 rounded shadow-md focus:border-zinc-800 focus:ring-0 focus:outline-none"
                    aria-describedby="address-description"
                  />
                  <span id="address-description" class="sr-only"
                    >Please enter your full street address here.</span
                  >
                </div>
                <div id="apartment-container" class="mb-6">
                  <label
                    for="apartment"
                    class="block text-base font-medium text-gray-700 mb-1"
                    >Apt. or Unit No.
                    <em class="italic text-sm text-gray-500">Optional</em>
                  </label>
                  <input
                    type="text"
                    id="apartment"
                    name="apartment"
                    autocomplete="address-line2"
                    class="mb-1 text-base py-3 px-4 block w-full border border-zinc-400 rounded shadow-md focus:border-zinc-800 focus:ring-0 focus:outline-none"
                    aria-describedby="apartment-description"
                  />
                  <span id="apartment-description" class="sr-only"
                    >Optional: Please enter your apartment or unit number for
                    precise address details.</span
                  >
                </div>
                <div id="city-container" class="mb-6">
                  <label
                    for="city"
                    class="block text-base font-medium text-gray-700 mb-1"
                    >City</label
                  >
                  <input
                    type="text"
                    id="city"
                    name="city"
                    autocomplete="address-level2"
                    class="peer mb-1 text-base py-3 px-4 block w-full border border-zinc-400 rounded shadow-md focus:border-zinc-800 focus:ring-0 focus:outline-none"
                    aria-describedby="city-description"
                  />
                  <span id="city-description" class="sr-only"
                    >Please enter your city name.</span
                  >
                </div>
                <div
                  id="state-zip-container"
                  class="flex flex-col md:flex-row md:gap-4"
                >
                  <div id="state-container" class="flex-1 mb-6">
                    <label
                      for="state"
                      class="block text-base font-medium text-gray-700 mb-1"
                      >State</label
                    >
                    <input
                      type="text"
                      id="state"
                      name="state"
                      autocomplete="address-level1"
                      class="mb-1 text-base py-3 px-4 block w-full border border-zinc-400 rounded shadow-md focus:border-zinc-800 focus:ring-0 focus:outline-none"
                      aria-describedby="state-description"
                    />
                    <span id="state-description" class="sr-only"
                      >Please enter your state name.</span
                    >
                  </div>

                  <div id="zip-container" class="flex-1 mb-6">
                    <label
                      for="zip"
                      class="block text-base font-medium text-gray-700 mb-1"
                      >ZIP code</label
                    >
                    <input
                      type="text"
                      id="zip"
                      name="zip"
                      autocomplete="postal-code"
                      class="mb-1 text-base py-3 px-4 block w-full border border-zinc-400 rounded shadow-md focus:border-zinc-800 focus:ring-0 focus:outline-none"
                      aria-describedby="zip-description"
                    />
                    <span id="zip-description" class="sr-only"
                      >Please enter your ZIP code.</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            id="payment-info-section"
            class="mb-8"
            aria-describedby="payment-info-desc"
          >
            <legend class="text-xl font-semibold mb-2">Payment Info</legend>
            <p id="payment-info-desc" class="sr-only">
              Enter your payment details below, including card number,
              expiration date, and CVC.
            </p>
            <div
              id="card-details-container"
              class="mb-1 text-base py-4 px-4 block w-full border border-zinc-400 rounded shadow-md focus:border-zinc-800 focus:ring-0 focus:outline-none"
            >
              <div id="card-element" aria-labelledby="card-info"></div>
              <span id="card-info" class="sr-only"
                >Card details input field.</span
              >
            </div>
          </div>
        </fieldset>

        <div class="flex justify-end" id="submit-btn-container">
          <button
            type="submit"
            class="px-6 py-2 border border-transparent text-base font-medium rounded-md text-white bg-green-700 hover:bg-green-800 focus:border-none focus:ring focus:outline-none focus:ring-green-800 focus:ring-offset-2"
            aria-describedby="submit-btn-desc"
          >
            Submit
          </button>
          <span id="submit-btn-desc" class="sr-only">
            Click to submit your details and complete the account creation
            process.
          </span>
        </div>
      </form>
    </section>
    <div data-checkout-id={checkoutId}></div>
  </div>

  <script>
    import { initSwell } from "../../lib/swell-js";

    document.addEventListener("DOMContentLoaded", async () => {
      const swell = initSwell(
        import.meta.env.PUBLIC_SWELL_STORE_ID,
        import.meta.env.PUBLIC_SWELL_PUBLIC_KEY,
      );

      // Set up Stripe card element
      const checkoutIdElement = document.querySelector("[data-checkout-id]");
      await swell.cart.recover(
        checkoutIdElement?.getAttribute("data-checkout-id"),
      );
      swell.payment.createElements({
        card: {
          elementId: "card-element",
          options: {
            style: {
              base: {
                fontSize: "16px",
              },
            },
            hidePostalCode: true,
          },
        },
      });

      // Setup for toggling billing address visibility
      const checkbox = document.getElementById(
        "same-address-checkbox",
      ) as HTMLInputElement;
      const billingContainer = document.getElementById(
        "billing-container",
      ) as HTMLElement;

      const toggleBillingContainerVisibility = () => {
        const isVisible = checkbox.checked;
        billingContainer.style.display = isVisible ? "none" : "block";
        const inputs = billingContainer.querySelectorAll('input[type="text"]');
        inputs.forEach((input) => {
          const inputElement = input as HTMLInputElement;
          inputElement.required = !isVisible;
        });
      };

      // Event listener for the address checkbox
      checkbox.addEventListener("change", toggleBillingContainerVisibility);
    });
  </script>
</Layout>
