---
import { stytch } from "@src/lib/stytch";
import Layout from "../../layouts/Layout.astro";
import { StytchError } from "stytch";
import { swell } from "src/lib/swell";
import { createCart, getOrCreateCart } from "@src/lib/swell/cart";
import MapboxAutofill from "@components/solid/MapboxAutofill";
import MapboxConfirmation from "@components/solid/MapboxConfirmation";

const errors = { err: "" };
const mapboxToken = import.meta.env.MAPBOX_DEFAULT_PUBLIC_TOKEN;

// Redirect unauthenticated users to homepage
const sessionToken = Astro.cookies.get("gp_session_token")?.value;
const session = sessionToken
  ? await stytch.sessions.authenticate({
      session_token: sessionToken,
    })
  : null;

if (!session) {
  return Astro.redirect(
    "/?message=" + encodeURIComponent("You are not logged in"),
  );
}

// Redirect users who already have a Swell account
const email = session.user.emails[0].email;
const account = await swell.get(`/accounts/${email}`);

if (account) {
  await getOrCreateCart(account);
  return !account.billing?.card ||
    Object.keys(account.billing?.card).length === 0
    ? Astro.redirect("/join/payment-info")
    : Astro.redirect("/?message=" + encodeURIComponent("Onboarding complete!"));
}

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const fields = [
    "first-name",
    "last-name",
    "phone",
    "address address-search",
    "apartment",
    "city",
    "state",
    "zip",
  ];
  const [firstName, lastName, phone, address1, apartment, city, state, zip] =
    fields.map((field) => data.get(field)?.toString());
  const consent = data.get("comms-consent") === "on";

  const shipping = { address1, address2: apartment, city, state, zip };
  const requiredFields = [
    firstName,
    lastName,
    phone,
    address1,
    city,
    state,
    zip,
    consent,
  ];
  const isMissingRequiredField = requiredFields.some((field) => !field);

  if (isMissingRequiredField) {
    errors.err = "Please fill out all fields";
  } else {
    try {
      const account = await swell.post("/accounts", {
        email,
        first_name: firstName,
        last_name: lastName,
        phone,
        email_optin: consent,
        type: "individual",
        shipping,
      });
      await createCart(account);
      return Astro.redirect("/join/payment-info");
    } catch (error) {
      console.log(error);
      errors.err =
        error instanceof StytchError
          ? error.message
          : "Something went wrong, please try again later";
    }
  }
}
---

<Layout
  title="Join - Personal Info"
  description="Add your personal information to begin placing orders!"
>
  <div class="flex flex-col items-center">
    <section class="bg-white p-10 max-w-lg">
      <h1 class="text-3xl font-bold mb-8 text-center max-w-md mx-auto">
        Create an account to place your orders!
      </h1>
      <div
        role="progressbar"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"
        aria-label="Progress: 0%"
        class="w-full bg-gray-300 rounded-full h-1.5 my-8"
      >
        <div class="bg-green-700 h-1.5 rounded-full w-0"></div>
        <div class="sr-only">Account Creation Form Progress: 0% complete</div>
      </div>
      <h2 class="text-xl font-semibold mb-4">Personal Info</h2>
      <form method="POST">
        <fieldset>
          <legend class="sr-only">Personal Information</legend>
          {errors.err && <p class="text-rose-400 mb-4">{errors.err}</p>}
          <div id="personal-info-section" class="mb-4">
            <div id="name-container" class="flex md:gap-4 flex-col md:flex-row">
              <div class="flex-1 mb-6" id="first-name-container">
                <label
                  for="first-name"
                  class="block text-md font-medium text-gray-700 mb-1"
                  >First Name</label
                >
                <input
                  type="text"
                  id="first-name"
                  name="first-name"
                  required
                  class="mb-1 text-md py-3 px-4 block w-full border border-zinc-400 rounded shadow-md focus:border-zinc-800 focus:ring-0 focus:outline-none"
                  aria-describedby="first-name-error first-name-description"
                  placeholder="Kale"
                />
                <span
                  id="first-name-error"
                  class="error-message hidden text-sm text-rose-500"
                  >Please enter your first name.</span
                >
                <span id="first-name-description" class="sr-only"
                  >Please enter your first name.</span
                >
              </div>

              <div class="flex-1 mb-6" id="last-name-container">
                <label
                  for="last-name"
                  class="block text-md font-medium text-gray-700 mb-1"
                  >Last Name</label
                >
                <input
                  type="text"
                  id="last-name"
                  name="last-name"
                  required
                  class="mb-1 text-md py-3 px-4 block w-full border border-zinc-400 rounded shadow-md focus:border-zinc-800 focus:ring-0 focus:outline-none"
                  aria-describedby="last-name-error last-name-description"
                  placeholder="Greens"
                />
                <span
                  id="last-name-error"
                  class="error-message hidden text-sm text-rose-500"
                  >Please enter your last name.</span
                >
                <span id="last-name-description" class="sr-only"
                  >Please enter your last name.</span
                >
              </div>
            </div>

            <div id="phone-container" class="mb-6">
              <label
                for="phone"
                class="block text-md font-medium text-gray-700 mb-1"
                >Phone Number</label
              >
              <input
                type="tel"
                id="phone"
                name="phone"
                required
                class="peer mb-1 text-md py-3 px-4 block w-full border border-zinc-400 rounded shadow-md focus:border-zinc-800 focus:ring-0 focus:outline-none invalid:[&:not(:placeholder-shown):not(:focus)]:border-rose-500"
                aria-describedby="phone-error phone-description"
                placeholder="555 555 1234"
                maxlength="10"
                pattern="[0-9]{10}"
              />
              <span
                id="phone-error"
                class="error-message hidden text-sm text-rose-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block"
                >Please enter a valid phone number, e.g., 555 555 1234.</span
              >
              <span id="phone-description" class="sr-only"
                >Please enter your phone number.</span
              >
            </div>
          </div>

          <div id="address-section" class="mb-4">
            <div id="address-container" class="mb-6">
              <label
                for="address"
                class="block text-base font-medium text-gray-700 mb-1"
                >Street Address</label
              >
              <input
                type="text"
                id="address"
                name="address"
                autocomplete="address-line1"
                required
                class="mb-1 text-base py-3 px-4 block w-full border border-zinc-400 rounded shadow-md focus:border-zinc-800 focus:ring-0 focus:outline-none"
                aria-describedby="address-description"
              />
              <span id="address-description" class="sr-only"
                >Please enter your full street address here.</span
              >
            </div>

            <div id="apartment-container" class="mb-6">
              <label
                for="apartment"
                class="block text-base font-medium text-gray-700 mb-1"
                >Apt. or Unit No.</label
              >
              <input
                type="text"
                id="apartment"
                name="apartment"
                autocomplete="address-line2"
                class="mb-1 text-base py-3 px-4 block w-full border border-zinc-400 rounded shadow-md focus:border-zinc-800 focus:ring-0 focus:outline-none"
                aria-describedby="apartment-description"
              />
              <span id="apartment-description" class="sr-only"
                >Optional: Please enter your apartment or unit number for
                precise address details.</span
              >
            </div>

            <div id="city-container" class="mb-6">
              <label
                for="city"
                class="block text-base font-medium text-gray-700 mb-1"
                >City</label
              >
              <input
                type="text"
                id="city"
                name="city"
                autocomplete="address-level2"
                required
                class="peer mb-1 text-base py-3 px-4 block w-full border border-zinc-400 rounded shadow-md focus:border-zinc-800 focus:ring-0 focus:outline-none"
                aria-describedby="city-description"
              />
              <span id="city-description" class="sr-only"
                >Please enter your city name.</span
              >
            </div>

            <div
              id="state-zip-container"
              class="flex md:gap-4 flex-col md:flex-row"
            >
              <div id="state-container" class="flex-1 mb-6">
                <label
                  for="state"
                  class="block text-base font-medium text-gray-700 mb-1"
                  >State</label
                >
                <input
                  type="text"
                  id="state"
                  name="state"
                  autocomplete="address-level1"
                  required
                  class="mb-1 text-base py-3 px-4 block w-full border border-zinc-400 rounded shadow-md focus:border-zinc-800 focus:ring-0 focus:outline-none"
                  aria-describedby="state-description"
                />
                <span id="state-description" class="sr-only"
                  >Please enter your state name.</span
                >
              </div>

              <div id="zip-container" class="flex-1 mb-6">
                <label
                  for="zip"
                  class="block text-base font-medium text-gray-700 mb-1"
                  >ZIP code</label
                >
                <input
                  type="text"
                  id="zip"
                  name="zip"
                  autocomplete="postal-code"
                  required
                  class="mb-1 text-base py-3 px-4 block w-full border border-zinc-400 rounded shadow-md focus:border-zinc-800 focus:ring-0 focus:outline-none"
                  aria-describedby="zip-description"
                />
                <span id="zip-description" class="sr-only"
                  >Please enter your ZIP code.</span
                >
              </div>
            </div>

            <div id="comms-consent-container" class="flex mb-9">
              <input
                id="comms-consent"
                name="comms-consent"
                type="checkbox"
                class="text-green-700 focus:ring-green-800 border border-zinc-400 rounded mt-0.5 cursor-pointer"
                aria-describedby="comms-consent-description"
              />
              <label for="comms-consent" class="ml-2 text-sm text-gray-500">
                Get text alerts on sales, orders and important account
                information.
              </label>
              <span id="comms-consent-description" class="sr-only"
                >Check this box if you agree to receive order updates and other
                communications to the provided phone number.</span
              >
            </div>
          </div>
        </fieldset>

        <div class="flex justify-end" id="continue-btn-container">
          <button
            type="submit"
            class="px-6 py-2 border border-transparent text-md font-medium rounded-md text-white bg-green-700 hover:bg-green-800 focus:border-none focus:ring focus:outline-none focus:ring-green-800 focus:ring-offset-2"
            aria-label="Continue to next step"
          >
            Continue
            <span class="sr-only"
              >Click to submit your details and proceed to the next step.</span
            >
          </button>
        </div>
      </form>
    </section>
  </div>

  <MapboxAutofill client:only mapboxToken={mapboxToken} />
  <MapboxConfirmation client:only mapboxToken={mapboxToken} />
</Layout>
