
div[data-hs-overlay-backdrop-template] {
  position: absolute;
  top: 140px;
  z-index: 100;
}

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: Aventa;
  src: url("/fonts/Aventa-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: AventaSemiBold;
  src: url("/fonts/Aventa-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
