---
import Banner from "../components/solid/Banner.tsx";
import Cart from "../components/solid/Cart.tsx";
import Menu from "../components/solid/Menu";
import MobileNav from "../components/solid/MobileNav.tsx";
import toast, { Toaster } from "solid-toast";
import ToastHandler from "../components/solid/ToastHandler";

// Only used for component rendering
let loggedin = false;
if (Astro.cookies.get("gp_session_token")?.value) {
  loggedin = true;
}

// Grab the logout_message cookie and display it
let logoutMessage
if (Astro.cookies.get("logout_message")?.value) {
  logoutMessage = Astro.cookies.get("logout_message")?.value;
  Astro.cookies.set("logout_message", "", { expires: new Date(0) });
}

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Goodpluck</title>
  </head>
  <body>
    <div class="sticky top-0 h-full">
      <Banner isLoggedIn={loggedin} client:load/>
      <MobileNav client:load />
    </div>
    <Cart client:load />
    <Menu client:load />
    <ToastHandler client:load message={logoutMessage} client:load/>
    <slot />
    <p>Logged in: {JSON.stringify(loggedin)}</p>
  </body>
</html>
