---
import Banner from "../components/solid/Banner.tsx";
import Cart from "../components/solid/Cart.tsx";
import Menu from "../components/solid/Menu";
import MobileNav from "../components/solid/MobileNav.tsx";
import ToastHandler from "../components/solid/ToastHandler";

// Refactored for component rendering
const isLoggedIn = !!Astro.cookies.get("gp_session_token")?.value;

// Function to get and clear cookie message
function getAndClearCookieMessage(cookieName: string) {
  const message = Astro.cookies.get(cookieName)?.value;
  if (message) {
    Astro.cookies.set(cookieName, "", { expires: new Date(0) });
    return message;
  }
  return null;
}

// Grabbing and clearing the logout and login messages
const logoutMessage = getAndClearCookieMessage("logout_message");
const loginMessage = getAndClearCookieMessage("login_message");

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Goodpluck</title>
  </head>
  <body>
    <div class="sticky top-0 h-full">
      <Banner isLoggedIn={isLoggedIn} client:load/>
      <MobileNav client:load />
    </div>
    <Cart client:load />
    <Menu client:load />
    <ToastHandler message={loginMessage || logoutMessage} client:load/>
    <slot />
    <p>Logged in: {JSON.stringify(isLoggedIn)}</p>
  </body>
</html>
