---
import Footer from "@components/solid/global/Footer";
import Banner from "../components/solid/Banner.tsx";
import Cart from "../components/solid/Cart.tsx";
import Menu from "../components/solid/Menu.tsx";
import MobileNav from "../components/solid/MobileNav.tsx";
import { getCartFromSession } from "src/lib/swell/cart";

// Retrieve session token and get user/cart data
const sessionToken = Astro.cookies.get("gp_session_token")?.value;
const isLoggedIn = !!sessionToken;
let cart = null;

try {
  cart = await getCartFromSession(sessionToken as string);
} catch (error) {
  console.log(error);
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Goodpluck</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <div id="content" class="flex flex-col flex-grow">
      <div class="sticky top-0 h-full">
        <Banner isLoggedIn={isLoggedIn} client:load />
        <MobileNav client:load />
      </div>
      <Cart cart={cart} client:load />
      <Menu client:load />
      <slot />
    </div>
    <Footer client:load />
  </body>
</html>
